<div class="container">
  <h1 class="book-header">Matt Reads Books</h1>
</div>
  <div class="row books">
  <% @books.each_with_index do |b, i| %>
    <%= link_to(b) do%>
    <% if i == 0 %>
      <div class="col-md-8 col-sm-9 book">
        <div class="background" style="background: url('<%= b.image %>')center no-repeat; background-size: cover;"></div>
          <div class="info">
            <h2><em><%= b.name %>,</em>
            <br>
            <br><%= b.author %></h2>
          </div>
      </div>
    <% elsif i < 3 %>
    <div class="col-md-4 col-sm-3 book">
      <div class="background" style="background: url('<%= b.image %>')center no-repeat; background-size: cover;"></div>
        <div class="info">
          <h2><em><%= b.name %>,</em>
          <br>
          <br><%= b.author %></h2>
        </div>
    </div>
    <% else %>
    <div class="col-md-4 col-sm-3 book">
      <div class="background" style="background: url('<%= b.image %>')center no-repeat; background-size: cover;"></div>
        <div class="info">
          <h2><em><%= b.name %>,</em>
          <br>
          <br><%= b.author %></h2>
        </div>
    </div>
    <% end %>
  <% end %>
  <% end %>
</div>
