<!DOCTYPE html>
<html>
  <head>
    <title>MattReadsBooks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Open+Sans|Raleway" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= yield %>

    <footer>
      <div class="col-xs-12">
        <p>Matt Reads Books &copy; 2017</p>
      </div>
      <div class="col-xs-12">
        <%= link_to 'https://facebook.com' do %><i class="fa fa-facebook-square"></i> <% end %>
          <%= link_to 'https://twitter.com' do %><i class="fa fa-twitter-square"></i> <% end %>
      </div>
    </footer>
  </body>
</html>
